P{font-family:Century Gothic;color:Black;}
H2{text-align:Center;font-family:Century Gothic;color:Black}
H1{text-align:Center;font-family:Century Gothic;color:Black;font-weight:bold}
MARQUEE{color:Black;font-family: Century Gothic}
div{margin:50px 100px 50px 100px}